@import "./responsive.scss";

.layout {
  height: 100vw;
  max-width: 1366px;
  margin: auto;
  padding: 0 20px;

  @include lg {
    background-color: rgb(235, 239, 246);
    max-width: 1280px;
  }

  @include md {
    background-color: rgb(234, 242, 239);
    max-width: 760px;
  }

  @include sm {
    background-color: rgb(243, 235, 245);
    max-width: 640px;
  }
}
